<% layout('layout/page') -%>



<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <h1 class="page-title">Edit user info</h1>
                <article class="post">
                    <div class="entry-content clearfix">
                        <form action="#" method="post" class="contact-form" name="edit-form">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <% if (car) { %>
                                    <input name="identifier_car" value="<%= car.identifier%>" type="text" id="input-identifier" placeholder="Identifier">
                                    <input name="class_car" value="<%= car.class%>" type="text" id="input-class_car" placeholder="Class">
                                    <input name="color_car" value="<%= car.color%>" type="text"  id="input-color_car" placeholder="Color">
                                    <input name="model_car" value="<%= car.model%>" type="text"  id="input-model_car" placeholder="Model">
                                    <input name="mark_car" value="<%= car.mark%>" type="text" id="input-mark_car" placeholder="Mark">
                                    <% } else {%>
                                    <input name="identifier_car" value="" type="text"  id="input-identifier" placeholder="Identifier">
                                    <input name="class_car" value="" type="text" id="input-class_car" placeholder="Class">
                                    <input name="color_car" value="" type="text" id="input-color_car" placeholder="Color">
                                    <input name="model_car" value="" type="text"  id="input-model_car" placeholder="Model">
                                    <input name="mark_car" value="" type="text" id="input-mark_car" placeholder="Mark">
                                    <% }%>
                                    <button class="btn-send btn-5 btn-5b ion-ios-paperplane" type="submit"  data-loading-text="Sending..."><span>Save</span></button>
                                    <span class="help-block error"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>

<script>
    $(document.forms['edit-form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/editCarInfo",
            method: "POST",
            data: form.serialize(),
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    form.html("Changes are saved").addClass('alert-success');
                    window.location.href = "/editCarInfo";
                },
                403: function(jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>